{% extends "_detail.html" %}
{% load humanize %}{% load misformatos %}
{% load bootstrap3 %}
{% block title %}Cliente{% endblock %}
{% block page-title %}Cliente{% endblock %}{% block thead %}<tr>
    <th colspan="2" class="izquierda"><i class="material-icons text-lime">recent_actors</i>&nbsp;  {{ cliente }}{% if request.user.is_superuser %}
        <div class="ui-nodisc-icon mininav3r">
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-edit ui-btn-icon-notext ui-btncito"
               title="Editar Cliente {{ cliente }}" href="{{ cliente.get_update_url }}"
               data-ajax="false" onclick="window.location.reload(false);">edit</a>
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-plus ui-btn-icon-notext ui-btncito"
               title="Agregar Nuevo Cliente"
               href="{% url "transporte_cliente_create" %}"
               data-ajax="false" onclick="window.location.reload(false);">add</a>
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btncito"
               title="Borrar Cliente {{ cliente }}" href="{{ cliente.get_delete_url }}">delete</a></div>
    {% endif %}</th></tr>{% endblock %}{% block tbody %}
    <tr>
        <td class="derecha">Contacto</td>
        <td><strong>{{ cliente.contacto }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Tel</td>
        <td>
            <a title="Llamar" style="text-decoration: none;" href="tel:{{ cliente.tel }}"><i
                    class='material-icons text-green md-18'>phone</i> {{ cliente.tel }}</a>
        </td>
    </tr>
    <tr>
        <td class="derecha">Email</td>
        <td><a title="Enviar email" style="text-decoration: none;" href="mailto:{{ cliente.email }}"><i
                class='material-icons text-green md-18'>mail_outline</i> {{ cliente.email }}</a>
        </td>
    </tr>
    <tr>
        <td class="derecha">RTN</td>
        <td>{{ cliente.rtn }}</td>
    </tr>
    <tr>
        <td class="derecha">Nivel de Precio</td>
        <td><strong>{{ cliente.nivel_de_precio }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Total Cotizado</td>
        <td><strong>{{ cliente.total_cotizado|intcomma }}</strong></td>
    </tr>
        <tr>
            <td class="derecha">Creado</td>
            <td><em>{{ cliente.creado|date:'D d/M/Y' }}</em></td>
        </tr>
        <tr>
            <td class="derecha">Actualizado</td>
            <td><em>{{ cliente.actualizado|date:'D d/M/Y' }}</em></td>
        </tr>{% endblock %}
{% block detalle %}
    <div class="topcontainer">
        <table id="tabladedatos" data-role="table" data-mode="columntoggle"
               class="table-stroke ui-shadow table-stripe ui-responsive"><!-- tabladedatos -->
            <thead>
            <tr>
                <th class="izquierda">Itinerario</th>
                <th data-priority="5" class="derecha">Acciones</th>
                <th data-priority="1" class="centrado">Inicia</th>
                <th data-priority="2" class="centrado">Termina</th>
                <th data-priority="4" class="derecha">Subtotal Cotizado</th>
                <th data-priority="4" class="derecha">Utilidad Cotizada</th>
                <th data-priority="4" class="derecha">Total Cotizado</th>
                <th data-priority="3" class="centrado">Estatus</th>
            </tr>
            </thead>
            <tbody>
            {% for itinerario in cliente.itinerarios.all %}
                <tr>
                    <td data-search="{{ itinerario }}">
                        <a title="Ver Itinerario {{ itinerario.tipo.nombre }} {{ itinerario }}"
                           data-ajax="false" onclick="window.location.reload(false);"
                           href="{{ itinerario.get_absolute_url }}">{{ itinerario }}</a></td>
                    <td class="izquierda" width="1"><div class="ui-alt-icon ui-nodisc-icon mininav3r">
                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-action ui-btn-icon-notext ui-btncito"
                           data-ajax="false" onclick="window.location.reload(false);"
                           title="Ir a Itinerario {{ itinerario }}" href="{{ itinerario.get_absolute_url }}">goto</a>{% if request.user.is_superuser %}
                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-edit ui-btn-icon-notext ui-btncito"
                           title="Editar Itinerario {{ itinerario }}" href="{{ itinerario.get_update_url }}"
                           data-ajax="false">edit</a>
                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-delete ui-btn-icon-notext ui-btncito"
                           title="Eliminar Itinerario {{ itinerario.nombre }}" href="{{ itinerario.get_delete_url }}">delete</a>{% endif %}</div></td>
                    <td class="centrado">{{ itinerario.fecha_desde|date:"D d/b" }}</td>
                    <td class="centrado">{{ itinerario.fecha_hasta|date:"D d/b" }}</td>
                    <td class="derecha">{{ itinerario.subtotal_cotizado|intcomma }}</td>
                    <td class="derecha">{{ itinerario.utilidad_cotizada_valor|intcomma }}&nbsp;<small
                            style="color: #4385F5"><em>{{ itinerario.utilidad_cotizada|porciento }}</em></small></td>
                    <td class="derecha">{{ itinerario.total_cotizado|intcomma }}</td>
                    <td class="centrado">{{ itinerario.get_estatus_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td>TOTALES</td>
                <td></td>
                <td></td>
                <td></td>
                <td class="derecha">{{ cliente.subtotal_cotizado|intcomma }}</td>
                <td class="derecha">{{ cliente.utilidad_cotizada_valor|intcomma }}&nbsp;<small
                        style="color: #4385F5"><em>{{ cliente.utilidad_cotizada|porciento }}</em></small>
                </td>
                <td class="derecha">{{ cliente.total_cotizado|intcomma }}</td>
                <td></td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}{% block footer %}
    {% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red darken-2"
               href="{% url "transporte_itinerario_create" cliente_id=cliente.pk %}"
               data-ajax="false" onclick="window.location.reload(false);">
                <i class="material-icons md-28">add</i></a>
        </div>
    {% endif %}{% endblock %}