{% extends "_detail.html" %}
{% load humanize %}
{% load bootstrap3 %}
{% block title %}Cliente{% endblock %}
{% block page-title %}Cliente{% endblock %}{% block thead %}
    <th colspan="2" class="izquierda">{{ cliente.nombre }}{% if request.user.is_superuser %}
        <div class="ui-nodisc-icon mininav3r">
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-edit ui-btn-icon-notext ui-btncito"
               title="Editar Cliente {{ cliente.nombre }}" href="{{ cliente.get_update_url }}"
               data-ajax="false" onclick="window.location.reload(false);">edit</a>
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-plus ui-btn-icon-notext ui-btncito"
               title="Agregar Nuevo Cliente"
               href="{% url "transporte_cliente_create" %}"
               data-ajax="false" onclick="window.location.reload(false);">add</a>
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btncito"
               title="Borrar Cliente {{ cliente.nombre }}" href="{{ cliente.get_delete_url }}">delete</a></div>
    {% endif %}</th>{% endblock %}{% block tbody %}
    <tr>
        <td class="derecha">Contacto</td>
        <td><strong>{{ cliente.contacto }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Tel</td>
        <td>
            <a title="Llamar" href="tel:{{ cliente.tel }}"
               class="ui-btn ui-btn-a ui-btn-inline ui-icon-phone ui-btncito ui-nodisc-icon ui-alt-icon ui-btn-icon-notext">call</a>
            <a style="text-decoration: none;" href="tel:{{ cliente.tel }}">{{ cliente.tel }}</a>
        </td>
    </tr>
    <tr>
        <td class="derecha">Email</td>
        <td><a title="Enviar email" href="mailto:{{ cliente.email }}"
               class="ui-btn ui-btn-a ui-btn-inline ui-icon-mail ui-btncito ui-nodisc-icon ui-alt-icon ui-btn-icon-notext">email</a>
            <a style="text-decoration: none;" href="mailto:{{ cliente.email }}">{{ cliente.email }}</a>
        </td>
    </tr>
    <tr>
        <td class="derecha">RTN</td>
        <td>{{ cliente.rtn }}</td>
    </tr>
    <tr>
        <td class="derecha">Nivel de Precio</td>
        <td><strong>{{ cliente.nivel_de_precio }}</strong></td>
    </tr>
        <tr>
            <td class="derecha">Creado</td>
            <td><strong>{{ cliente.creado|date:'D d/M/Y' }}</strong></td>
        </tr>
        <tr>
            <td class="derecha">Actualizado</td>
            <td><strong>{{ cliente.actualizado|date:'D d/M/Y' }}</strong></td>
        </tr>
{% endblock %}

{% block detalle %}
    <div class="form-group topcontainer">
        <form class="form">
            <div id="titulodetalle">Itinerarios</div>
            <table data-role="table" id="tabladedatos" data-mode="columntoggle"
                   class="table-stroke ui-shadow table-stripe  ui-responsive">
                <thead>
                <tr>
                    <th class="izquierda">Itinerario</th>
                    <th></th>
                    <th data-priority="1" class="centrado">Inicia</th>
                    <th data-priority="2" class="centrado">Termina</th>
                    <th data-priority="3" class="centrado">Estatus</th>
                </tr>
                </thead>
                <tbody>
                {% for itinerario in cliente.itinerario_set.all %}
                    <tr>
                        <td data-search="{{ itinerario.nombre }}">
                            <a title="Ver Itinerario {{ itinerario.tipo.nombre }} {{ itinerario.nombre }}"
                               href="{{ itinerario.get_absolute_url }}">{{ itinerario.nombre }}</a></td>
                        <td class="izquierda" width="1"><div class="ui-alt-icon ui-nodisc-icon mininav3r">
                            <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-action ui-btn-icon-notext ui-btncito"
                               title="Ir a Itinerario {{ itinerario.nombre }}" href="{{ itinerario.get_absolute_url }}">goto</a>{% if request.user.is_superuser %}
                            <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-edit ui-btn-icon-notext ui-btncito"
                               title="Editar Itinerario {{ itinerario.nombre }}" href="{{ itinerario.get_update_url }}"
                               data-ajax="false" onclick="window.location.reload(false);">edit</a>
                            <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-delete ui-btn-icon-notext ui-btncito"
                               title="Eliminar Itinerario {{ itinerario.nombre }}" href="{{ itinerario.get_delete_url }}">delete</a>{% endif %}</div></td>
                        <td class="centrado">{{ itinerario.fecha_desde|date:"D d/b" }}</td>
                        <td class="centrado">{{ itinerario.fecha_hasta|date:"D d/b" }}</td>
                        <td class="centrado">{{ itinerario.get_estatus_display }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}{% block footer %}
    {% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red darken-2"
               href="{% url "transporte_itinerario_create" cliente_id=cliente.pk %}"
               data-ajax="false" onclick="window.location.reload(false);">
                <i class="material-icons">add</i></a>
        </div>
    {% endif %}{% endblock %}