{% extends "_list.html" %}
{% load humanize %}
{% load misformatos %}
{% block title %}Conductores{% endblock %}
{% block page-title %}Conductores{% endblock %}
{% block thead %}
    <th class="centrado">Conductor</th>
    <th data-priority="1" class="centrado">Empleado</th>
    <th data-priority="2" class="centrado">Tel</th>
    <th data-priority="3" class="centrado">Identidad</th>{% endblock %}{% block tbody %}
    {% for conductor in conductor_list %}
        <tr>
            <td data-search="{{ conductor.nombre }}">
                <a title="Seleccionar Detalles" class="ui-btn ui-link boton"
                   href="{{ conductor.get_absolute_url }}">{{ conductor.nombre }}</a>
            </td>
            <td class="centrado">{{ conductor.empleado | yesno }}</td>
            <td class="centrado">
                <a title="Llamar" href="tel:{{ conductor.telefono }}"
                   class="ui-btn ui-btn-c ui-btn-icon-left ui-btn-inline ui-shadow ui-link ui-icon-phone ui-icon-phone ui-btn-icon-left">{{ conductor.telefono | tel2de4 }}</a>
            </td>
            <td class="izquierda">{{ conductor.identidad | identidad }}</td>
        </tr>{% endfor %}{% endblock %}{% block footer %}
    {% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light"
               href="{% url "transporte_conductor_create" %}">
                <i class="material-icons">add</i></a>
        </div>
    {% endif %}{% endblock %}
