{% extends "_detail.html" %}
{% load humanize %}
{% load misformatos %}
{% block title %}Ítem en Cotización{% endblock %}
{% block page-title %}Ítem en Cotización{% endblock %}
{% block thead %}
    <th colspan="2" class="izquierda">
        <a style="color: white;" href="{{ cotizaciondetalle.item.get_absolute_url }}" title="Seleccionar Ítem {{ cotizaciondetalle.item }}">
        <i class="material-icons">toc</i>{{ cotizaciondetalle.item }}</a>{% if request.user.is_superuser %}
        <div class="mininav3r">
            <a
               data-ajax="false" onclick="window.location.reload(false);"
               title="Editar Ítem {{ cotizaciondetalle }}" href="{{ cotizaciondetalle.get_update_url }}"><i class="material-icons">edit</i></a>
            <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-plus ui-btn-icon-notext ui-btncito"
               title="Agregar Nuevo Ítem"
               href="{% url "transporte_cotizaciondetalle_create" cotizacion_id=cotizaciondetalle.cotizacion.pk %}"><i class="material-icons">add</i></a>
            <a
               title="Borrar Ítem {{ cotizaciondetalle }}" href="{{ cotizaciondetalle.get_delete_url }}"><i class="material-icons">delete_forever</i></a></div>
    {% endif %}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha"><strong>Cliente: </strong></td>
        <td><a href="{{ cotizaciondetalle.cotizacion.itinerario.cliente.get_absolute_url }}"
               title="Seleccionar Cliente: {{ cotizaciondetalle.cotizacion.itinerario.cliente }}">
            <i class="material-icons">recent_actors</i>
            <strong>{{ cotizaciondetalle.cotizacion.itinerario.cliente }}</strong></a>
        </td>
    </tr>
    <tr>
        <td class="derecha"><strong>Itinerario:</strong></td>
        <td><a href="{{ cotizaciondetalle.cotizacion.itinerario.get_absolute_url }}"
               title="Seleccionar Itinerario: {{ cotizaciondetalle.cotizacion.itinerario }}">
            <i class="material-icons">date_range</i>
            <strong>{{ cotizaciondetalle.cotizacion.itinerario }}</strong></a>
        </td>
    </tr>
    <tr>
        <td class="derecha"><strong>Cotización:</strong></td>
        <td><a title="Seleccionar Cotización: {{ cotizaciondetalle.cotizacion }}" data-ajax="false"
               href="{{ cotizaciondetalle.cotizacion.get_absolute_url }}" onclick="window.location.reload(false)">
            <i class="material-icons">assignment_turned_in</i>
            <strong>{{ cotizaciondetalle.cotizacion }}</strong></a></td>
    </tr>
    <tr>
        <td class="derecha">Descripción</td>
        <td><strong>{{ cotizaciondetalle.descripcion }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Cantidad</td>
        <td><strong>{{ cotizaciondetalle.cantidad|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Costo</td>
        <td><strong>{{ cotizaciondetalle.costo|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Subtotal</td>
        <td><strong>{{ cotizaciondetalle.costo_total|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Utilidad</td>
        <td><strong>{{ cotizaciondetalle.utilidad|porciento }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Margen</td>
        <td><strong>{{ cotizaciondetalle.markup|porciento }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Total</td>
        <td><strong>{{ cotizaciondetalle.total|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td><em>{{ cotizaciondetalle.creado }}</em></td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td><em>{{ cotizaciondetalle.actualizado }}</em></td>
    </tr>
{% endblock %}
{% block footer %}
    {% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light"
               title="Editar Ítem {{ cotizaciondetalle.descripcion }}"
               href="{{ cotizaciondetalle.get_update_url }}">
                <i class="material-icons">edit</i></a>
        </div>
    {% endif %}{% endblock %}
