{% extends "_detail.html" %}
{% load humanize %}
{% load misformatos %}
{% block title %}Ítem en Grupo{% endblock %}
{% block page-title %}Ítem en Grupo{% endblock %}
{% block thead %}
    <th colspan="2" class="izquierda">{{ itemgrupolinea.item }}{% if request.user.is_superuser %}
        <div class="mininav3r">
            <a title="Editar Ítem {{ itemgrupolinea.nombre }}" href="{{ itemgrupolinea.get_update_url }}">
                <i class="material-icons">edit</i></a>
            <a title="Agregar Nuevo Ítem"
               href="{% url "transporte_itemgrupolinea_create" itemgrupo_id=itemgrupolinea.item_grupo.pk %}">
                <i class="material-icons">add</i></a>
            <a title="Borrar Ítem {{ itemgrupolinea.nombre }}"
               href="{{ itemgrupolinea.get_delete_url }}">
                <i class="material-icons">delete_forever</i></a></div>
    {% endif %}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha"><strong>Grupo:</strong></td>
        <td><a title="Seleccionar Grupo: {{ itemgrupolinea.item_grupo }}"
               href="{{ itemgrupolinea.item_grupo.get_absolute_url }}"
               class="ui-btn ui-btn-a ui-btn-inline ui-icon-arrow-u-l ui-btncito ui-nodisc-icon ui-alt-icon ui-btn-icon-notext">call</a>
            <a href="{{ itemgrupolinea.item_grupo.get_absolute_url }}"
               title="Seleccionar Grupo: {{ itemgrupolinea.item_grupo }}"
               style="text-decoration: none;font-weight: bold;text-transform: uppercase;">{{ itemgrupolinea.item_grupo }}</a>
        </td>
    </tr>
    <tr>
        <td class="derecha">Descripción</td>
        <td><strong>{{ itemgrupolinea.descripcion }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Cantidad</td>
        <td><strong>{{ itemgrupolinea.cantidad|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Costo</td>
        <td><strong>{{ itemgrupolinea.costo|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Subtotal</td>
        <td><strong>{{ itemgrupolinea.costo_total|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Utilidad</td>
        <td><strong>{{ itemgrupolinea.utilidad|porciento }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Margen</td>
        <td><strong>{{ itemgrupolinea.markup|porciento }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Total</td>
        <td><strong>{{ itemgrupolinea.total|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td><strong>{{ itemgrupolinea.creado }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td><strong>{{ itemgrupolinea.actualizado }}</strong></td>
    </tr>
{% endblock %}
{% block footer %}
    {% if request.user.is_superuser %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="after" value="{{ itemgrupolinea.get_itemgrupo_url }}"/>
            <input type="submit" value="CONFIRMAR ELIMINACION DE ÍTEM" name="DeleteAndShowParent"
                   class="ui-btn ui-btn-b ui-btn-icon-left ui-btn-inline ui-shadow ui-link ui-icon-delete ui-btn-icon-left"/>
        </form>
    {% endif %}
{% endblock %}
