{% extends "_detail.html" %}
{% load humanize %}
{% load misformatos %}
{% block title %}Ítem en Grupo{% endblock %}
{% block page-title %}Ítem en Grupo{% endblock %}
{% block thead %}
    <th colspan="2" class="izquierda">
        <i class="material-icons">toc</i>{{ itemgrupolinea.item }}{% if request.user.is_superuser %}
        <span class="minipopuplink">
            <a href="#popup{{ itemgrupolinea.slug }}" data-rel="popup">
                <i class="material-icons">more_horiz</i></a>
        </span>
        <div class="minipopup3" data-role="popup" id="popup{{ itemgrupolinea.slug }}">
            <ul class="ui-listview">
                <li>
                    <a title="Agregar Ítem Nuevo" data-ajax="false"
                       onclick="window.location.reload(false);"
                       href="{% url 'transporte_itemgrupolinea_create' itemgrupo_id=itemgrupolinea.item_grupo.pk %}">
                        <i class="material-icons">add</i> Agregar</a></li>
                <li>
                    <a title="Editar Ítem {{ itemgrupolinea }}"
                       href="{{ itemgrupolinea.get_update_url }}">
                        <i class="material-icons">edit</i> Editar</a></li>
                <li>
                    <a title="Eliminar Ítem {{ itemgrupolinea }}"
                       href="{{ itemgrupolinea.get_delete_url }}">
                        <i class="material-icons">delete</i> Borrar</a></li>
            </ul>
            <div class="ui-popup-arrow-container ui-popup-arrow-t">
                <div class="ui-popup-arrow ui-body-a ui-overlay-shadow"></div>
            </div>
        </div>
    {% endif %}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha"><strong>Grupo:</strong></td>
        <td><a title="Seleccionar Grupo: {{ itemgrupolinea.item_grupo }}"
               href="{{ itemgrupolinea.item_grupo.get_absolute_url }}">
            <i class="material-icons">apps</i>{{ itemgrupolinea.item_grupo }}</a>
        </td>
    </tr>
    <tr>
        <td class="derecha">Descripción</td>
        <td><strong>{{ itemgrupolinea.descripcion }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Cantidad</td>
        <td><strong>{{ itemgrupolinea.cantidad|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Costo</td>
        <td><strong>{{ itemgrupolinea.costo|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Subtotal</td>
        <td><strong>{{ itemgrupolinea.costo_total|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Utilidad</td>
        <td><strong>{{ itemgrupolinea.utilidad|porciento }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Margen</td>
        <td><strong>{{ itemgrupolinea.markup|porciento }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Total</td>
        <td><strong>{{ itemgrupolinea.total|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td><em>{{ itemgrupolinea.creado }}</em></td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td><em>{{ itemgrupolinea.actualizado }}</em></td>
    </tr>
{% endblock %}
{% block footer %}
    {% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light"
               title="Editar Ítem {{ itemgrupolinea.descripcion }}"
               href="{{ itemgrupolinea.get_update_url }}">
                <i class="material-icons">edit</i></a>
        </div>
    {% endif %}{% endblock %}
