{% extends "_detail.html" %}
{% load humanize %}
{% load misformatos %}
{% block title %}Detalle de Ítem{% endblock %}
{% block page-title %}Detalle de Ítem{% endblock %}
{% block thead %}
    <th colspan="2" class="izquierda">
        <i class="material-icons">toc</i>{{ item }}{% if request.user.is_superuser %}
        <span class="minipopuplink">
            <a href="#popup{{ item.slug }}" data-rel="popup">
                <i class="material-icons">more_horiz</i></a>
        </span>
        <div class="minipopup3" data-role="popup" id="popup{{ item.slug }}">
            <ul class="ui-listview">
                <li>
                    <a title="Agregar Ítem Nuevo" data-ajax="false"
                       onclick="window.location.reload(false);"
                       href="{% url 'transporte_item_create' %}">
                        <i class="material-icons">add</i> Agregar</a></li>
                <li>
                    <a title="Editar Ítem {{ item }}"
                       href="{{ item.get_update_url }}">
                        <i class="material-icons">edit</i> Editar</a></li>
                <li>
                    <a title="Eliminar Ítem {{ item }}"
                       href="{{ item.get_delete_url }}">
                        <i class="material-icons">delete</i> Borrar</a></li>
            </ul>
            <div class="ui-popup-arrow-container ui-popup-arrow-t">
                <div class="ui-popup-arrow ui-body-a ui-overlay-shadow"></div>
            </div>
        </div>
    {% endif %}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha">Tipo Ítem</td>
        <td><strong>{{ item.get_tipo_item_display }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Costo</td>
        <td><strong>{{ item.costo|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Precio</td>
        <td><strong>{{ item.precio|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Descripción Compra</td>
        <td><strong>{{ item.descripcion_compra }}</td>
    </tr>
    <tr>
        <td class="derecha">Descripción Venta</td>
        <td><strong>{{ item.descripcion_venta }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td>{{ item.creado }}</td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td>{{ item.actualizado }}</td>
    </tr>
{% endblock %}
{% block footer %}{% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light"
               href="{{ item.get_update_url }}"
               data-ajax="false" onclick="window.location.reload(false);">
                <i class="material-icons">edit</i></a>
        </div>{% endif %}{% endblock %}
