{% extends "_list.html" %}
{% load humanize %}
{% block title %}Items{% endblock %}
{% block page-title %}Listado de Items{% endblock %}
{% block thead %}
    <th class="center">Item</th>
    <th data-priority="2" class="derecha">Costo</th>
    <th data-priority="1" class="derecha">Precio</th>
    <th data-priority="3" class="izquierda">Unidad</th>
    <th data-priority="4" class="izquierda">Descripción</th>
    <th data-priority="5" class="centrado">Tipo</th>
{% endblock %}
{% block tbody %}
    {% for item in item_list %}
        <tr>
            <td data-search="{{ item.nombre }}"><a class="ui-btn ui-link"
                                                   style="margin:0 !important; font-family:'Open Sans Condensed' !important;font-size: 14px !important;"
                                                   href="{{ item.get_absolute_url }}">{{ item.nombre }}</a>
            </td>
            <td class="derecha">{{ item.costo|intcomma }}</td>
            <td class="derecha">{{ item.precio|intcomma }}</td>
            <td class="izquierda">{{ item.unidad }}</td>
            <td class="izquierda">{{ item.descripcion_venta }}</td>
            <td class="centrado">{{ item.tipo_item }}</td>
        </tr>
    {% endfor %}
{% endblock %}
{% block footer %}
    {% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red darken-2"
               href="{% url "transporte_item_create" %}">
                <i class="material-icons">add</i></a>
        </div>
    {% endif %}{% endblock %}