{% extends "_table.html" %}{% load static %}
{% load humanize %}{% load misformatos %}
{% block title %}Ítems{% endblock %}
{% block page-title %}Ítems{% endblock %}{% block theader %}
                                <th class="center">Ítem</th>
                                <th data-priority="2" class="derecha">Costo</th>
                                <th data-priority="1" class="derecha">Precio</th>
                                <th data-priority="3" class="izquierda">Descripción</th>
                                <th data-priority="4" class="centrado">Tipo</th>{% endblock %}{% block tbody %}
    {% for item in item_list %}
                            <tr>
                                <td data-search="{{ item }}">
                                    <a title="Seleccionar Ítem {{ item }}"
                                       href="{{ item.get_absolute_url }}">{{ item }}</a>{% if request.user.is_superuser %}
                                        <span class="minipopuplink">
                                            <a href="#popup{{ item.slug }}" data-rel="popup">
                                                <i class="material-icons">more_horiz</i></a>
                                        </span>
                                        <div class="minipopup3" data-role="popup" id="popup{{ item.slug }}">
                                            <ul class="ui-listview">
                                                <li>
                                                    <a title="Seleccionar Ítem {{ item }}" data-ajax="false"
                                                       onclick="window.location.reload(false);"
                                                       href="{{ item.get_absolute_url }}">
                                                        <i class="material-icons">arrow_forward</i> Seleccionar</a></li>
                                                <li>
                                                    <a title="Editar Ítem {{ item }}"
                                                       href="{{ item.get_update_url }}">
                                                        <i class="material-icons">edit</i> Editar</a></li>
                                                <li>
                                                    <a title="Eliminar Ítem {{ item }}"
                                                       href="{{ item.get_delete_url }}">
                                                        <i class="material-icons">delete</i> Borrar</a></li>
                                            </ul>
                                            <div class="ui-popup-arrow-container ui-popup-arrow-t">
                                                <div class="ui-popup-arrow ui-body-a ui-overlay-shadow"></div>
                                            </div>
                                        </div>
                                    {% endif %}</td>
                                <td class="derecha">{{ item.costo|intcomma }}</td>
                                <td class="derecha">{{ item.precio|intcomma }}</td>
                                <td class="izquierda">{{ item.descripcion_venta }}</td>
                                <td class="centrado">{{ item.tipo_item }}</td>
                            </tr>{% endfor %}{% endblock %}{% block footer %}{% if request.user.is_superuser %}
    <div class="kc_fab_wrapper"></div>
{% endif %}
{% endblock %}
{% block scripts2 %}
    <script src="{% static "js/kc.fab.min.js" %}"></script>
    <script>
        $(document).ready(function () {
            var links = [
                {
                    "bgcolor": "#204478",
                    "icon": "+"
                },
                {
                    "url": '{% url "transporte_itemgrupo_create" %}',
                    "bgcolor": "#3B5998",
                    "color": "#fffff",
                    "icon": "<i class='material-icons' style='vertical-align: middle;'>apps</i>",
                    "title": "Agregar Grupo"
                },
                {
                    "url": '{% url "transporte_item_create" %}',
                    "bgcolor": "#263238",
                    "tooltip": "Agregar Ítem",
                    "color": "white",
                    "icon": "<i class='material-icons' style='vertical-align: middle;'>toc</i>",
                    "title": "Agregar Ítem"
                }
            ];
            $('.kc_fab_wrapper').kc_fab(links);
        })
    </script>{% endblock %}
