{% extends "_detail.html" %}
{% load humanize %}
{% load misformatos %}
{% block title %}Detalle de Ítem{% endblock %}
{% block page-title %}Detalle de Ítem{% endblock %}
{% block thead %}
    <th colspan="2" class="izquierda"><a style="color:white;" title="Seleccionar Cotización {{ item.nombre }}"
                                         href="{{ item.get_absolute_url }}" data-ajax="false"
                                         onclick="window.location.reload(false);">
        {{ item.nombre }}{% if request.user.is_superuser %}
            <div class="mininav3r">
                <a title="Editar Ítem {{ item.nombre }}" href="{{ item.get_update_url }}"
                   data-ajax="false" onclick="window.location.reload(false);">
                    <i class="material-icons">edit</i></a>
                <a title="Agregar Nuevo Ítem" href="{% url "transporte_item_create" %}"
                   data-ajax="false" onclick="window.location.reload(false);">
                    <i class="material-icons">add</i></a>
                <a title="Borrar Ítem {{ item.nombre }}" href="{{ item.get_delete_url }}">
                    <i class="material-icons">delete_forever</i></a></div>
        {% endif %}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha">Tipo Ítem</td>
        <td><strong>{{ item.get_tipo_item_display }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Costo</td>
        <td><strong>{{ item.costo|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Precio</td>
        <td><strong>{{ item.precio|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Descripción Compra</td>
        <td><strong>{{ item.descripcion_compra }}</td>
    </tr>
    <tr>
        <td class="derecha">Descripción Venta</td>
        <td><strong>{{ item.descripcion_venta }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td><strong>{{ item.creado }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td><strong>{{ item.actualizado }}</strong></td>
    </tr>
{% endblock %}
{% block footer %}
    {% if request.user.is_superuser %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="after" value="{% url 'transporte_item_list' %}"/>
            <input type="submit" value="CONFIRMAR ELIMINACION DE ÍTEM" name="DeleteAndShowParent"
                   class="ui-btn ui-btn-b ui-btn-icon-left ui-btn-inline ui-shadow ui-link ui-icon-delete ui-btn-icon-left"/>
        </form>
    {% endif %}
{% endblock %}