{% extends "_table.html" %}
{% load humanize %}
{% load misformatos %}
{% block title %}Ítems{% endblock %}
{% block page-title %}Ítems{% endblock %}
{% block theader %}
    <th class="center">Ítem</th>
    <th data-priority="2" class="derecha">Costo</th>
    <th data-priority="1" class="derecha">Precio</th>
    <th data-priority="4" class="izquierda">Descripción</th>
    <th data-priority="5" class="centrado">Tipo</th>
    <th>
        <small>Acciones</small>
    </th>{% endblock %}
{% block tbody %}<!-- data  -->{% for item in item_list %}
    <tr>
        <td data-search="{{ item }}">
            <a title="Seleccionar Ítem {{ item }}"
               href="{{ item.get_absolute_url }}"><strong>{{ item }}</strong></a></td>
        <td class="derecha">{{ item.costo|intcomma }}</td>
        <td class="derecha">{{ item.recio|intcomma }}</td>
        <td class="izquierda">{{ item.descripcion_venta }}</td>
        <td class="centrado">{{ item.tipo_item }}</td>
        <td class="izquierda" width="1">
            <div class="mininav3r">
                <a title="Seleccionar {{ item }}" href="{{ item.get_absolute_url }}">
                    <i class="material-icons">arrow_forward</i></a>{% if request.user.is_superuser %}
                <a title="Editar {{ item }}" href="{{ item.get_update_url }}">
                    <i class="material-icons">edit</i></a>
                <a title="Eliminar {{ item }}" href="{{ item.get_delete_url }}">
                    <i class="material-icons">delete_forever</i></a>{% endif %}</div>
        </td>
    </tr>
{% endfor %}{% endblock %}{% block footer %}
    {% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light"
               title="Crear Ítem" href="{% url "transporte_item_create" %}"
               data-ajax="false" onclick="window.location.reload(false);;">
                <i class="material-icons">add</i></a>
        </div>
    {% endif %}{% endblock %}
