{% extends "_detail.html" %}
{% load humanize %}
{% block title %}Detalle de Itinerario{% endblock %}
{% block page-title %}Detalle de Itinerario{% endblock %}
{% block thead %}
    <th class="derecha">Itinerario</th>
    <th class="izquierda">{{ itinerario.nombre }}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha">Inicia</td>
        <td><strong>{{ itinerario.fecha_desde|date:"D d/b" }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Termina</td>
        <td><strong>{{ itinerario.fecha_desde|date:"D d/b" }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Estatus</td>
        <td><strong>{{ itinerario.get_estatus_display }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Slug</td>
        <td><strong>{{ itinerario.slug }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td><strong>{{ itinerario.creado }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td><strong>{{ itinerario.actualizado }}</strong></td>
    </tr>
{% endblock %}
{% block detalle %}
    <div class="form-group">
        <form class="form">
            <table data-role="table" id="table-list" data-mode="columntoggle"
                   class="table-stroke ui-shadow table-stripe  ui-responsive">
                <thead>
                <tr>
                    <th data-priority="9" class="derecha">#</th>
                    <th class="izquierda">Cotización</th>
                    <th data-priority="1" class="centrado">Vence</th>
                    <th data-priority="3" class="derecha">Subtotal</th>
                    <th data-priority="4" class="derecha">Margen</th>
                    <th data-priority="2" class="derecha">Total</th>
                </tr>
                </thead>
                <tbody>
                {% for cotizacion in itinerario.cotizacion_set.all %}
                    <tr>
                        <td class="izquierda">{{ cotizacion.id }}</td>
                        <td data-search="{{ cotizacion.nombre }}">
                            <a class="ui-btn ui-link boton"
                               href="{{ cotizacion.get_absolute_url }}">{{ cotizacion.nombre }}</a>
                        </td>
                        <td class="centrado">{{ cotizacion.fecha_vence|date:"D d/b" }}</td>
                        <td class="derecha">{{ cotizacion.subtotal|intcomma }}</td>
                        <td class="derecha">{{ cotizacion.markup|intcomma }}</td>
                        <td class="derecha">{{ cotizacion.total|intcomma }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
{% block footer %}
    {% if request.user.is_superuser %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="after" value="{{ cotizacion.get_cliente_url }}" />
        <input type="submit" value="CONFIRMAR ELIMINACION DE ITINERARIO" name="DeleteAndShowParent"
               class="ui-btn ui-btn-a ui-btn-icon-left ui-btn-inline ui-shadow ui-link ui-icon-delete ui-btn-icon-left"/>
    </form>
    {% endif %}{% endblock %}
