{% extends "_detail.html" %}
{% load humanize %}
{% load misformatos %}
{% block title %}Itinerario{% endblock %}
{% block page-title %}Itinerario{% endblock %}
{% block thead %}<tr>
                        <th colspan="2" class="izquierda">{{ itinerario.nombre }}{% if request.user.is_superuser %}
                            <div class="ui-nodisc-icon mininav3r">
                                <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-edit ui-btn-icon-notext ui-btncito"
                                   title="Editar Itinerario {{ itinerario.nombre }}" href="{{ itinerario.get_update_url }}"
                                   data-ajax="false" onclick="window.location.reload(false);">>edit</a>
                                <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-plus ui-btn-icon-notext ui-btncito"
                                   title="Agregar Nuevo Itinerario"
                                   href="{% url "transporte_itinerario_create" cliente_id=itinerario.cliente.pk %}"
                                   data-ajax="false" onclick="window.location.reload(false);">>add</a>
                                <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btncito"
                                   title="Borrar Itinerario {{ itinerario.nombre }}" href="{{ itinerario.get_delete_url }}">delete</a></div>{% endif %}
                        </th></tr>{% endblock %}{% block tbody %}
                        <tr>
                            <td class="derecha"><strong>Cliente: </strong></td>
                            <td>
                                <a title="Ver Cliente: {{ itinerario.cliente }}" href="{{ itinerario.cliente.get_absolute_url }}"
                                   class="ui-btn ui-btn-a ui-btn-inline ui-icon-arrow-u-l ui-btncito ui-nodisc-icon ui-alt-icon ui-btn-icon-notext">call</a>
                                <a href="{{ itinerario.cliente.get_absolute_url }}" title="Ver Cliente: {{ itinerario.cliente }}"
                                   style="text-decoration: none;font-weight: bold;text-transform: uppercase;">{{ itinerario.cliente }}</a></td>
                        </tr>
                        <tr>
                            <td class="derecha">Inicia</td>
                            <td><strong>{{ itinerario.fecha_desde|date:"D d/b" }}</strong></td>
                        </tr>
                        <tr>
                            <td class="derecha">Termina</td>
                            <td><strong>{{ itinerario.fecha_desde|date:"D d/b" }}</strong></td>
                        </tr>
                        <tr>
                            <td class="derecha">Estatus</td>
                            <td><strong>{{ itinerario.get_estatus_display }}</strong></td>
                        </tr>
                        <tr>
                            <td class="derecha">Creado</td>
                            <td><strong>{{ itinerario.creado }}</strong></td>
                        </tr>
                        <tr>
                            <td class="derecha">Actualizado</td>
                            <td><strong>{{ itinerario.actualizado }}</strong></td>
                        </tr>{% endblock %}{% block detalle %}
            <div class="topcontainer">
                <table id="tabladedatos" data-role="table" data-mode="columntoggle"
                       class="table-stroke ui-shadow table-stripe ui-responsive"><!-- tabladedatos -->
                    <thead>
                    <tr>
                        <th class="izquierda">Cotización</th>
                        <th></th>
                        <th data-priority="4" class="centrado">Vence</th>
                        <th data-priority="2" class="derecha">Subtotal</th>
                        <th data-priority="3" class="derecha">Utilidad</th>
                        <th data-priority="1" class="derecha">Total</th>
                    </tr>
                    </thead>
                    <tbody>{% for cotizacion in itinerario.cotizacion_set.all %}
                        <tr>
                            <td data-search="{{ cotizacion.nombre }}" class="izquierda">
                                <a title="Ver Cotización {{ cotizacion.nombre }}"
                                   href="{{ cotizacion.get_absolute_url }}">{{ cotizacion.nombre }}</a>: {{ cotizacion.descripcion }}</td>
                            <td><div class="ui-alt-icon ui-nodisc-icon mininav3r">
                                <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-action ui-btn-icon-notext ui-btncito"
                                   title="Ver Cotización {{ cotizacion.nombre }}"
                                   href="{{ cotizacion.get_absolute_url }}" data-ajax="false"
                                   onclick="window.location.reload(false);">goto</a>{% if request.user.is_superuser %}
                                <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-edit ui-btn-icon-notext ui-btncito"
                                   title="Editar Cotización {{ cotizacion.nombre }}" href="{{ cotizacion.get_update_url }}"
                                   data-ajax="false" onclick="window.location.reload(false);">>edit</a>
                                <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-delete ui-btn-icon-notext ui-btncito"
                                   title="Eliminar Cotización {{ cotizacion.nombre }}" href="{{ cotizacion.get_delete_url }}">delete</a>{% endif %}
                            </div></td>
                            <td class="centrado">{{ cotizacion.fecha_vence|date:"D d/b" }}</td>
                            <td class="derecha">{{ cotizacion.subtotal|intcomma }}</td>
                            <td class="derecha">{{ cotizacion.utilidad|porciento }}</td>
                            <td class="derecha">{{ cotizacion.total|intcomma }}</td>
                        </tr>{% endfor %}
                    </tbody>
                </table>
            </div>{% endblock %}{% block footer %}{% if request.user.is_superuser %}
         <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red darken-2"
               title="Agregar Cotización"
               href="{% url "transporte_cotizacion_create" itinerario_id=itinerario.pk %}"
               data-ajax="false" onclick="window.location.reload(false);">
                <i class="material-icons">add</i></a>
        </div>
    {% endif %}{% endblock %}