{% extends "_table.html" %}{% load humanize %}
{% block title %}Itinerarios{% endblock %}
{% block page-title %}Itinerarios{% endblock %}{% block theader %}
                                <th class="centrado">Itinerario</th>
                                <th class="derecha">Acciones</th>
                                <th data-priority="4" class="izquierda">Cliente</th>
                                <th data-priority="1" class="centrado">Inicia</th>
                                <th data-priority="2" class="centrado">Termina</th>
                                <th data-priority="3" class="centrado">Estatus</th>{% endblock %}{% block tbody %}{% for itinerario in itinerario_list %}
                            <tr>
                                <td data-search="{{ itinerario.nombre }}">
                                    <a title="Ver Itinerario {{ itinerario.nombre }}"
                                       href="{{ itinerario.get_absolute_url }}">{{ itinerario.nombre }}</a></td>
                                <td class="izquierda" width="1">
                                    <div class="ui-alt-icon ui-nodisc-icon mininav3r">
                                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-action ui-btn-icon-notext ui-btncito"
                                           title="Ver Itinerario {{ itinerario.nombre }}"
                                           href="{{ itinerario.get_absolute_url }}">goto</a>{% if request.user.is_superuser %}
                                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-edit ui-btn-icon-notext ui-btncito"
                                           title="Editar Itinerario {{ itinerario.nombre }}"
                                           href="{{ itinerario.get_update_url }}"
                                           data-ajax="false" onclick="window.location.reload(false);">edit</a>
                                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-delete ui-btn-icon-notext ui-btncito"
                                           title="Eliminar Itinerario {{ itinerario.nombre }}"
                                           href="{{ itinerario.get_delete_url }}">delete</a>
                                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-plus ui-btn-icon-notext ui-btncito"
                                           title="Crear Itinerario Para {{ itinerario.cliente.nombre }}"
                                           href="{% url "transporte_itinerario_create" cliente_id=itinerario.cliente.pk %}">create</a>{% endif %}
                                        </div>
                                </td>
                                <td class="izquierda">{{ itinerario.cliente.nombre }}</td>
                                <td class="centrado">{{ itinerario.fecha_desde|date:"D d/b" }}</td>
                                <td class="centrado">{{ itinerario.fecha_hasta|date:"D d/b" }}</td>
                                <td class="centrado">{{ itinerario.get_estatus_display }}</td>
                            </tr>{% endfor %}{% endblock %}
