{% extends "_table.html" %}{% load humanize %}
{% block title %}Itinerarios{% endblock %}
{% block page-title %}Itinerarios{% endblock %}{% block theader %}
                                <th class="centrado">Itinerario</th>
                                <th data-priority="4" class="izquierda">Cliente</th>
                                <th data-priority="1" class="centrado">Inicia</th>
                                <th data-priority="2" class="centrado">Termina</th>{% if request.user.is_superuser %}
                                <th data-priority="3" class="centrado">Estatus</th>
                                <th data-priority="5" class="derecha">
                                    <small>Acciones</small>
                                </th>{% endif %}{% endblock %}{% block tbody %}{% for itinerario in itinerario_list %}
                            <tr>
                                <td data-search="{{ itinerario.nombre }}">
                                    <a title="Seleccionar Itinerario {{ itinerario.nombre }}"
                                       href="{{ itinerario.get_absolute_url }}">{{ itinerario.nombre }}</a></td>
                                <td class="izquierda"><a href="{{ itinerario.cliente.get_absolute_url }}">
                                    <i class="material-icons">recent_actors</i>{{ itinerario.cliente }}</a></td>
                                <td class="centrado">{{ itinerario.fecha_desde|date:"D d/b" }}</td>
                                <td class="centrado">{{ itinerario.fecha_hasta|date:"D d/b" }}</td>{% if request.user.is_superuser %}
                                <td class="centrado">{{ itinerario.get_estatus_display }}</td>
                                <td class="izquierda" width="1">
                                    <div class="mininav3r">
                                        <a title="Seleccionar Itinerario {{ itinerario }}"
                                           href="{{ itinerario.get_absolute_url }}">
                                            <i class="material-icons">arrow_forward</i></a>
                                        <a title="Editar Itinerario {{ itinerario }}"
                                           href="{{ itinerario.get_update_url }}"
                                           data-ajax="false" onclick="window.location.reload(false);">
                                            <i class="material-icons">edit</i></a>
                                        <a title="Eliminar Itinerario {{ itinerario }}"
                                           href="{{ itinerario.get_delete_url }}">
                                            <i class="material-icons">delete_forever</i></a>
                                    </div>
                                </td>{% endif %}
                            </tr>{% endfor %}{% endblock %}