{% extends "_table.html" %}
{% load static %}
{% load humanize %}
{% block title %}Lugares{% endblock %}
{% block page-title %}Lugares{% endblock %}
{% block theader %}
            <th class="centrado">Lugar</th>
            <th class="derecha">Acciones</th>
            <th data-priority="4" class="centrado">Código</th>
            <th data-priority="2" class="centrado">País</th>{% endblock %}
{% block tbody %}{% for lugar in lugar_list %}
                    <tr>
                    <td data-search="{{ lugar.nombre }}">
                        <a title="Ver Tramo {{ lugar.nombre }}"
                           href="{{ lugar.get_absolute_url }}">{{ lugar.nombre }}</td>
                    <td><div class="ui-alt-icon ui-nodisc-icon mininav3r">
                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-action ui-btn-icon-notext ui-btncito"
                           title="Ver Tramo {{ lugar.nombre }}" href="{{ lugar.get_absolute_url }}">goto</a>{% if request.user.is_superuser %}
                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-edit ui-btn-icon-notext ui-btncito"
                           title="Editar Tramo {{ lugar.nombre }}" href="{{ lugar.get_update_url }}">edit</a>
                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-delete ui-btn-icon-notext ui-btncito"
                           title="Eliminar Tramo {{ lugar.nombre }}" href="{{ lugar.get_delete_url }}">delete</a>{% endif %}
                    </div></td>
                    <td class="centrado">{{ lugar.codigo|upper }}</td>
                    <td class="centrado">{{ lugar.pais }}</td>
                </tr>
            {% endfor %}{% endblock %}{% block footer %}
    {% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red darken-2"
               href="{% url "transporte_lugar_create" %}">
                <i class="material-icons">add</i></a>
        </div>
    {% endif %}{% endblock %}
