{% extends "base.html" %}
{% load static %}
{% block content %}
    <p><a class="btn btn-default" href="{% url 'transporte_lugar_list' %}">Lugar Listing</a></p>
    <table class="table">
        <tr>
            <td>ID</td>
            <td>Link</td>
            <td>codigo</td>
            <td>slug</td>
            <td>creado</td>
            <td>actualizado</td>
            <td>nombre</td>
            <td>pais</td>
        </tr>
        {% for object in object_list %}
            <tr>
                <td>{{ object.id }}</td>
                <td><a href="{{ object.get_absolute_url }}">{{ object }}</a></td>
                <td>{{ object.codigo }}</td>
                <td>{{ object.slug }}</td>
                <td>{{ object.creado }}</td>
                <td>{{ object.actualizado }}</td>
                <td>{{ object.nombre }}</td>
                <td>{{ object.pais }}</td>
            </tr>
        {% endfor %}
    </table>{% endblock %}{% block footer %}
    {% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red darken-2"
               href="{% url "transporte_lugar_create" %}">
                <i class="material-icons">add</i></a>
        </div>
    {% endif %}{% endblock %}
