{% extends "_detail.html" %}
{% load humanize %}
{% block title %}Detalle de Lugar{% endblock %}
{% block page-title %}Detalle de Lugar{% endblock %}
{% block thead %}
    <th colspan="2" class="izquierda"><a style="color: white;"
            title="Mapa" href="https://www.google.com/maps/place/{{ lugar }}" target="_blank"><i
            class="material-icons text-lime">place</i> {{ lugar }}</a>{% if request.user.is_superuser %}
        <div class="ui-nodisc-icon mininav3r">
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-edit ui-btn-icon-notext ui-btncito"
               title="Editar Lugar {{ lugar }}" href="{{ lugar.get_update_url }}">edit</a>
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-plus ui-btn-icon-notext ui-btncito"
               title="Agregar Nuevo Lugar"
               href="{% url "transporte_lugar_create" %}">add</a>
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btncito"
               title="Borrar Lugar {{ lugar }}" href="{{ lugar.get_delete_url }}">delete</a></div>
    {% endif %}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha">Código Lugar</td>
        <td><strong>{{ lugar.codigo|upper }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">País</td>
        <td><strong>{{ lugar.pais }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td><em>{{ lugar.creado }}</em></td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td><em>{{ lugar.actualizado }}</em></td>
    </tr>
{% endblock %}
{% block footer %}{% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red darken-2"
               href="{{ lugar.get_update_url }}">
                <i class="material-icons">edit</i></a>
        </div>{% endif %}{% endblock %}
