{% extends "_table.html" %}{% load humanize %}{% load misformatos %}
{% block title %}Niveles de Precio{% endblock %}
{% block page-title %}Niveles de Precio{% endblock %}{% block theader %}
                                <th class="centrado">Nivel de Precio</th>
                                <th class="derecha">Acciones</th>
                                <th data-priority="1" class="centrado">Tipo</th>
                                <th data-priority="2" class="centrado">Acción</th>
                                <th data-priority="3" class="centrado">Valor</th>
                                <th data-priority="4" class="centrado">Factor</th>{% endblock %}{% block tbody %}{% for niveldeprecio in niveldeprecio_list %}
                            <tr>
                                <td data-search="{{ niveldeprecio.nombre }}">
                                    <a title="Ver Nivel {{ niveldeprecio.nombre }}"
                                       href="{{ niveldeprecio.get_absolute_url }}">{{ niveldeprecio.nombre }}</a></td>
                                <td class="izquierda" width="1">
                                    <div class="ui-alt-icon ui-nodisc-icon mininav3r">
                                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-action ui-btn-icon-notext ui-btncito"
                                           title="Ver {{ niveldeprecio.nombre }}"
                                           href="{{ niveldeprecio.get_absolute_url }}">goto</a>{% if request.user.is_superuser %}
                                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-edit ui-btn-icon-notext ui-btncito"
                                           title="Editar {{ niveldeprecio.nombre }}"
                                           href="{{ niveldeprecio.get_update_url }}"
                                           data-ajax="false" onclick="window.location.reload(false);">edit</a>
                                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-delete ui-btn-icon-notext ui-btncito"
                                           title="Eliminar {{ niveldeprecio.nombre }}"
                                           href="{{ niveldeprecio.get_delete_url }}">delete</a>{% endif %}
                                    </div>
                                </td>
                                <td class="centrado">{{ niveldeprecio.get_tipo_display }}</td>
                                <td class="centrado">{{ niveldeprecio.get_accion_display }}</td>{% if niveldeprecio.tipo == "Porcentaje" %}
                                <td class="centrado">{{ niveldeprecio.valor|porciento }}</td>{% else %}
                                <td class="centrado">{{ niveldeprecio.valor }}</td>{% endif %}
                                <td class="centrado">{{ niveldeprecio.factor|floatformat:6 }}</td>
                            </tr>{% endfor %}{% endblock %}{% block footer %}{% if request.user.is_superuser %}
                <div class="fixed-action-btn">
                    <a class="btn-floating btn-large waves-effect waves-light red darken-2"
                       title="Agregar Nivel de Precio"
                       href="{% url "transporte_niveldeprecio_create" %}"
                       data-ajax="false" onclick="window.location.reload(false);">
                        <i class="material-icons">add</i></a>
                </div>{% endif %}{% endblock %}
