{% extends "_detail.html" %}
{% load humanize %}
{% load misformatos %}
{% block title %}Nivel de Precio{% endblock %}
{% block page-title %}Nivel de Precio{% endblock %}
{% block thead %}
    <th colspan="2" class="izquierda"><i
            class="material-icons text-lime">local_offer</i>{{ niveldeprecio.nombre }}{% if request.user.is_superuser %}
        <div class="ui-nodisc-icon mininav3r">
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-edit ui-btn-icon-notext ui-btncito"
               title="Editar Nivel de Precio {{ niveldeprecio.nombre }}" href="{{ niveldeprecio.get_update_url }}">edit</a>
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-plus ui-btn-icon-notext ui-btncito"
               title="Agregar Nuevo Nivel de Precio"
               href="{% url "transporte_niveldeprecio_create" %}">add</a>
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btncito"
               title="Borrar Nivel de Precio {{ niveldeprecio.nombre }}" href="{{ niveldeprecio.get_delete_url }}">delete</a></div>
    {% endif %}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha">Tipo</td>
        <td><strong>{{ niveldeprecio.get_tipo_display }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Acción</td>
        <td><strong>{{ niveldeprecio.get_accion_display }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Valor</td>
        {% if niveldeprecio.tipo == "Porcentaje" %}
            <td><strong>En un {{ niveldeprecio.valor|porciento }}</strong></td>
        {% else %}
            <td><strong>En {{ niveldeprecio.valor }} Lps.</strong></td>
        {% endif %}
    </tr>
    <tr>
        <td class="derecha">Factor</td>
        <td><strong>{{ niveldeprecio.factor|floatformat:6 }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td><strong>{{ niveldeprecio.creado|date:'D d/M/Y' }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td><strong>{{ niveldeprecio.actualizado|date:'D d/M/Y' }}</strong></td>
    </tr>
{% endblock %}
{% block footer %}{% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light purple darken-2"
               href="{{ niveldeprecio.get_update_url }}">
                <i class="material-icons">edit</i></a>
        </div> {% endif %}{% endblock %}
