{% extends "_detail.html" %}
{% load humanize %}
{% load misformatos %}
{% block title %}Nivel de Precio{% endblock %}
{% block page-title %}Nivel de Precio{% endblock %}
{% block thead %}
    <th colspan="2" class="izquierda"><i
            class="material-icons">local_offer</i>{{ niveldeprecio }}{% if request.user.is_superuser %}
        <span class="minipopuplink">
            <a href="#popup{{ niveldeprecio.slug }}" data-rel="popup">
                <i class="material-icons">more_horiz</i></a>
        </span>
        <div class="minipopup3" data-role="popup" id="popup{{ niveldeprecio.slug }}">
            <ul class="ui-listview">
                <li>
                    <a title="Agregar Nivel Nuevo" data-ajax="false"
                       onclick="window.location.reload(false);"
                       href="{% url 'transporte_niveldeprecio_create' %}">
                        <i class="material-icons">add</i> Agregar</a></li>
                <li>
                    <a title="Editar Nivel {{ niveldeprecio }}"
                       href="{{ niveldeprecio.get_update_url }}">
                        <i class="material-icons">edit</i> Editar</a></li>
                <li>
                    <a title="Eliminar Nivel {{ niveldeprecio }}"
                       href="{{ niveldeprecio.get_delete_url }}">
                        <i class="material-icons">delete</i> Borrar</a></li>
            </ul>
            <div class="ui-popup-arrow-container ui-popup-arrow-t">
                <div class="ui-popup-arrow ui-body-a ui-overlay-shadow"></div>
            </div>
        </div>
    {% endif %}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha">Tipo</td>
        <td><strong>{{ niveldeprecio.get_tipo_display }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Acción</td>
        <td><strong>{{ niveldeprecio.get_accion_display }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Valor</td>
        {% if niveldeprecio.tipo == "Porcentaje" %}
            <td><strong>En un {{ niveldeprecio.valor|porciento }}</strong></td>
        {% else %}
            <td><strong>En {{ niveldeprecio.valor }} Lps.</strong></td>
        {% endif %}
    </tr>
    <tr>
        <td class="derecha">Factor</td>
        <td><strong>{{ niveldeprecio.factor|floatformat:6 }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td><em>{{ niveldeprecio.creado }}</em></td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td><em>{{ niveldeprecio.actualizado }}</em></td>
    </tr>
{% endblock %}
{% block footer %}{% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light"
               href="{{ niveldeprecio.get_update_url }}">
                <i class="material-icons">edit</i></a>
        </div> {% endif %}{% endblock %}
