{% extends "_detail.html" %}
{% load static %}
{% load humanize %}
{% block extcss %}<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.material.min.css"/>
{% endblock %}
{% block extlibs %}<script defer type="text/javascript"
        src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script defer type="text/javascript"
            src="{% static "js/dataTables.material.min.js" %}"></script>
    <script type="text/javascript"
        src="{% static "js/tablelocale.js" %}"></script>{% endblock %}
{% block title %}Tipo de Vehículo{% endblock %}
{% block page-title %}Tipo de Vehículo{% endblock %}
{% block thead %}
    <th colspan="2" class="izquierda"><i
            class="material-icons">directions_bus</i>{{ tipodevehiculo }}{% if request.user.is_superuser %}
        <span class="minipopuplink">
            <a href="#popup{{ tipodevehiculo.slug }}" data-rel="popup">
                <i class="material-icons">more_horiz</i></a>
        </span>
        <div class="minipopup3" data-role="popup" id="popup{{ tipodevehiculo.slug }}">
            <ul class="ui-listview">
                <li>
                    <a title="Agregar Tipo Nuevo" data-ajax="false"
                       onclick="window.location.reload(false);"
                       href="{% url 'transporte_tipodevehiculo_create' %}">
                        <i class="material-icons">add</i> Agregar</a></li>
                <li>
                    <a title="Editar Tipo {{ tipodevehiculo }}"
                       href="{{ tipodevehiculo.get_update_url }}">
                        <i class="material-icons">edit</i> Editar</a></li>
                <li>
                    <a title="Eliminar Tipo {{ tipodevehiculo }}"
                       href="{{ tipodevehiculo.get_delete_url }}">
                        <i class="material-icons">delete</i> Borrar</a></li>
            </ul>
            <div class="ui-popup-arrow-container ui-popup-arrow-t">
                <div class="ui-popup-arrow ui-body-a ui-overlay-shadow"></div>
            </div>
        </div>
    {% endif %}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha">Rendimiento</td>
        <td><strong>{{ tipodevehiculo.rendimiento }} Kms/Gal</strong></td>
    </tr>{% if request.user.is_superuser %}
    <tr>
        <td class="derecha">Costo/Dia</td>
        <td><strong>Lps. {{ tipodevehiculo.costo_por_dia|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Costo/Km</td>
        <td><strong>Lps. {{ tipodevehiculo.costo_por_km|intcomma }}</strong></td>
    </tr>{% endif %}
    <tr>
        <td class="derecha">Asientos</td>
        <td><strong>{{ tipodevehiculo.capacidad_nominal }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Capacidad</td>
        <td><strong>{{ tipodevehiculo.capacidad_real }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Rendimiento</td>
        <td><strong>{{ tipodevehiculo.rendimiento }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Gals/Tanque</td>
        <td><strong>{{ tipodevehiculo.galones_tanque }}</strong></td>
    </tr>{% if request.user.is_superuser %}
    <tr>
        <td class="derecha">Activo?</td>
        <td><strong>{{ tipodevehiculo.activo|yesno }}</strong></td>
    </tr>{% endif %}
{% endblock %}
{% block detalle %}
    <div class="form-group topcontainer">
        <form class="form">
            <div id="titulodetalle">Vehículos</div>
            <table data-role="table" id="table-list" data-mode="columntoggle"
                   class="table-stroke ui-shadow table-stripe  ui-responsive">
                <thead>
                <tr>
                    <th class="izquierda">Vehículo</th>
                    <th data-priority="1" class="derecha">Placa</th>{% if request.user.is_superuser %}
                    <th data-priority="2" class="derecha">Creado</th>
                    <th data-priority="3" class="derecha">Actualizado</th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for vehiculo in tipodevehiculo.vehiculos.all %}
                <tr>
                    <td data-search="{{ vehiculo }}">{% if request.user.is_superuser %}
                        <a title="Seleccionar Vehículo {{ vehiculo.tipo }} {{ vehiculo }}"
                           href="{{ vehiculo.get_absolute_url }}">{% endif %}{{ vehiculo.tipo }} {{ vehiculo }}{% if request.user.is_superuser %}</a>
                            <span class="minipopuplink">
                                <a href="#popup{{ vehiculo.slug }}" data-rel="popup">
                                    <i class="material-icons">more_horiz</i></a>
                            </span>
                            <div class="minipopup3" data-role="popup" id="popup{{ vehiculo.slug }}">
                                <ul class="ui-listview">
                                    <li>
                                        <a title="Seleccionar Vehículo {{ vehiculo.tipo }} {{ vehiculo }}" data-ajax="false"
                                           onclick="window.location.reload(false);"
                                           href="{{ vehiculo.get_absolute_url }}">
                                            <i class="material-icons">arrow_forward</i> Seleccionar</a></li>
                                    <li>
                                        <a title="Editar Vehículo {{ vehiculo.tipo }} {{ vehiculo }}"
                                           href="{{ vehiculo.get_update_url }}">
                                            <i class="material-icons">edit</i> Editar</a></li>
                                    <li>
                                        <a title="Eliminar Vehículo {{ vehiculo.tipo }} {{ vehiculo }}"
                                           href="{{ vehiculo.get_delete_url }}">
                                            <i class="material-icons">delete</i> Borrar</a></li>
                                </ul>
                                <div class="ui-popup-arrow-container ui-popup-arrow-t">
                                    <div class="ui-popup-arrow ui-body-a ui-overlay-shadow"></div>
                                </div>
                            </div>
                        {% endif %}
                    </td>
                        <td class="derecha">{{ vehiculo.placa }}</td>{% if request.user.is_superuser %}
                    <td class="derecha">{{ vehiculo.creado|date:"D d/b" }}</td>
                    <td class="derecha">{{ vehiculo.actualizado|date:"D d/b" }}</td>{% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
{% block footer %}{% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light"
               href="{{ tipodevehiculo.get_update_url }}"
               data-ajax="false" onclick="window.location.reload(false);">
                <i class="material-icons">edit</i></a>
        </div>{% endif %}{% endblock %}
