{% extends "_table.html" %}
{% load static %}
{% load humanize %}
{% block title %}Tramos En Vehículos{% endblock %}
{% block page-title %}Tramos En Vehículos{% endblock %}
{% block theader %}
            <th class="centrado">Tramo</th>
            <th data-priority="6" class="centrado"><small>Acciones</small></th>
            <th data-priority="1" class="centrado">Vehículo</th>
            <th data-priority="5" class="centrado">Descripcion</th>
            <th data-priority="2" class="centrado">Costo</th>
            <th data-priority="3" class="centrado">Kms</th>
            <th data-priority="4" class="centrado">Hrs</th>{% endblock %}
{% block tbody %}{% for tramoenvehiculo in tramoenvehiculo_list %}
                    <tr>
                    <td data-search="{{ tramoenvehiculo.nombre }}">
                        <a title="Seleccionar Tramo {{ tramoenvehiculo.nombre }}"
                           href="{{ tramoenvehiculo.get_absolute_url }}">{{ tramoenvehiculo.tramo|upper }}</td>
                    <td><div class="mininav3r">
                        <a
                           title="Seleccionar Tramo {{ tramoenvehiculo.nombre }}" href="{{ tramoenvehiculo.get_absolute_url }}"><i class="material-icons">arrow_forward</i></a>{% if request.user.is_superuser %}
                        <a
                           title="Editar Tramo {{ tramoenvehiculo.nombre }}" href="{{ tramoenvehiculo.get_update_url }}"
                           data-ajax="false" onclick="window.location.reload(false);"><i class="material-icons">edit</i></a>
                        <a
                           title="Eliminar Tramo {{ tramoenvehiculo.nombre }}" href="{{ tramoenvehiculo.get_delete_url }}"><i class="material-icons">delete_forever</i></a>{% endif %}
                    </div></td>
                    <td class="izquierda">{{ tramoenvehiculo.nombre }}</td>
                    <td class="centrado">{{ tramoenvehiculo.costo|intcomma }}</td>
                    <td class="centrado">{{ tramo.kms|intcomma }}</td>
                    <td class="centrado">{{ tramo.hrs }}</td>
                </tr>
            {% endfor %}{% endblock %}{% block footer %}
    {% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light"
               href="{% url "transporte_tramoenvehiculo_create" %}"
               data-ajax="false" onclick="window.location.reload(false);">
                <i class="material-icons">add</i></a>
        </div>
    {% endif %}{% endblock %}