{% extends "_table.html" %}
{% load static %}
{% load humanize %}
{% block title %}Tramos{% endblock %}
{% block page-title %}Tramos{% endblock %}
{% block theader %}
            <th class="centrado">Tramo</th>
            <th class="derecha">Acciones</th>
            <th data-priority="5" class="centrado">Descripción</th>
            <th data-priority="4" class="centrado">Desde</th>
            <th data-priority="3" class="centrado">Hacia</th>
            <th data-priority="1" class="centrado">Kms</th>
            <th data-priority="2" class="centrado">Hrs</th>{% endblock %}
{% block tbody %}{% for tramo in tramo_list %}
                    <tr>
                    <td data-search="{{ tramo.codigo }}">
                        <a title="Ver Tramo {{ tramo.codigo|upper }}"
                           href="{{ tramo.get_absolute_url }}">{{ tramo.codigo }}</td>
                    <td><div class="ui-alt-icon ui-nodisc-icon mininav3r">
                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-action ui-btn-icon-notext ui-btncito"
                           title="Ver Tramo {{ tramo.codigo|upper }}" href="{{ tramo.get_absolute_url }}">goto</a>{% if request.user.is_superuser %}
                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-edit ui-btn-icon-notext ui-btncito"
                           title="Editar Tramo {{ tramo.codigo|upper }}" href="{{ tramo.get_update_url }}"
                           data-ajax="false" onclick="window.location.reload(false);">edit</a>
                        <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-delete ui-btn-icon-notext ui-btncito"
                           title="Eliminar Tramo {{ tramo.codigo|upper }}" href="{{ tramo.get_delete_url }}">delete</a>{% endif %}
                    </div></td>
                    <td class="izquierda">{{ tramo.descripcion }}</td>
                    <td class="centrado">{{ tramo.desde_lugar.nombre }}</td>
                    <td class="centrado">{{ tramo.hacia_lugar.nombre }}</td>
                    <td class="centrado">{{ tramo.kms|intcomma }}</td>
                    <td class="centrado">{{ tramo.hrs }}</td>
                </tr>
            {% endfor %}{% endblock %}{% block footer %}
    {% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red darken-2"
               href="{% url "transporte_tramo_create" %}"
               data-ajax="false" onclick="window.location.reload(false);">
                <i class="material-icons">add</i></a>
        </div>
    {% endif %}{% endblock %}