{% extends "_detail.html" %}
{% load humanize %}
{% block title %}Detalle de Tramo{% endblock %}
{% block page-title %}Detalle de Tramo{% endblock %}
{% block thead %}
    <th colspan="2" class="izquierda">{{ tramo.desde_hacia }}{% if request.user.is_superuser %}
        <div class="ui-nodisc-icon mininav3r">
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-edit ui-btn-icon-notext ui-btncito"
               title="Editar Tramo {{ tramo.desde_hacia }}" href="{{ tramo.get_update_url }}"
               data-ajax="false" onclick="window.location.reload(false);">edit</a>
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-plus ui-btn-icon-notext ui-btncito"
               title="Agregar Nuevo Tramo"
               href="{% url "transporte_tramo_create" %}"
               data-ajax="false" onclick="window.location.reload(false);">add</a>
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btncito"
               title="Borrar Tramo {{ tramo.desde_hacia }}" href="{{ tramo.get_delete_url }}">delete</a></div>
    {% endif %}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha">Código Tramo</td>
        <td><strong>{{ tramo.codigo|upper }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Descripión</td>
        <td>{{ tramo.descripcion }}</td>
    </tr>
    <tr>
        <td class="derecha">Desde</td>
        <td><strong>{{ tramo.desde_lugar.nombre }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Hacia</td>
        <td><strong>{{ tramo.hacia_lugar.nombre }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Kilómetros</td>
        <td><strong>{{ tramo.kms }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Horas</td>
        <td><strong>{{ tramo.hrs }}</strong></td>
    </tr>
{% endblock %}
{% block detalle %}
    <div class="form-group topcontainer">
        <form class="form">
            <div id="titulodetalle">Costo Kilometraje por Vehículo</div>
            <table data-role="table" id="table-list" data-mode="columntoggle"
                   class="table-stroke ui-shadow table-stripe  ui-responsive">
                <thead>
                <tr>
                    <th class="center">Vehículo</th>
                    <th></th>
                    <th data-priority="1" class="derecha">Costo Kms.</th>
                </tr>
                </thead>
                <tbody>
                {% for tramoenvehiculo in tramo.vehiculos.all %}
                <tr>
                    <td>{{ tramoenvehiculo.vehiculo }}</td>
                        <td><div class="ui-alt-icon ui-nodisc-icon mininav3r">
                            <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-action ui-btn-icon-notext ui-btncito"
                               title="Ver Tramo {{ tramoenvehiculo.nombre }}" href="{{ tramoenvehiculo.get_absolute_url }}">goto</a>{% if request.user.is_superuser %}
                            <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-edit ui-btn-icon-notext ui-btncito"
                               title="Editar Tramo {{ tramoenvehiculo.nombre }}" href="{{ tramoenvehiculo.get_update_url }}"
                               data-ajax="false" onclick="window.location.reload(false);">>edit</a>
                            <a class="ui-btn ui-btn-inline ui-btn-c ui-icon-delete ui-btn-icon-notext ui-btncito"
                               title="Eliminar Tramo {{ tramoenvehiculo.nombre }}" href="{{ tramoenvehiculo.get_delete_url }}">delete</a>{% endif %}
                        </div></td>
                    <td class="derecha">{{ tramoenvehiculo.costo|intcomma }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
{% endblock %}
{% block footer %}{% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red darken-2"
               href="{% url "transporte_tramoenvehiculo_create" tramo_id=tramo.pk %}"
               data-ajax="false" onclick="window.location.reload(false);">
                <i class="material-icons">add</i></a>
        </div>{% endif %}{% endblock %}
