{% extends "_detail.html" %}
{% load humanize %}
{% block title %}Tramo en Vehículo{% endblock %}
{% block page-title %}Tramo en Vehículo{% endblock %}
{% block thead %}
    <th colspan="2" class="izquierda">{{ tramoenvehiculo.nombre }}{% if request.user.is_superuser %}
        <div class="mininav3r">
            <a title="Editar Tramo {{ tramoenvehiculo.nombre }}" href="{{ tramoenvehiculo.get_update_url }}"
               data-ajax="false" onclick="window.location.reload(false);">
                <i class="material-icons">edit</i></a>
            <a title="Agregar Nuevo Tramo"
               href="{% url "transporte_tramoenvehiculo_create" tramo_id=tramoenvehiculo.tramo.pk %}"
               data-ajax="false" onclick="window.location.reload(false);">
                <i class="material-icons">add</i></a>
            <a title="Borrar Tramo {{ tramoenvehiculo.nombre }}" href="{{ tramoenvehiculo.get_delete_url }}">
                <i class="material-icons">delete_forever</i></a></div>
    {% endif %}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha">Código Tramo</td>
        <td><strong>{{ tramoenvehiculo.tramo|upper }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Vehículo</td>
        <td><strong>{{ tramoenvehiculo.vehiculo }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Costo</td>
        <td><strong>{{ tramoenvehiculo.costo|intcomma }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Kilómetros</td>
        <td><strong>{{ tramoenvehiculo.tramo.kms }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Horas</td>
        <td><strong>{{ tramoenvehiculo.tramo.hrs }}</strong></td>
    </tr>
{% endblock %}
{% block footer %}{% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light"
               href="{{ tramoenvehiculo.get_update_url }}"
               data-ajax="false" onclick="window.location.reload(false);">
                <i class="material-icons">edit</i></a>
        </div>{% endif %}{% endblock %}
