{% extends "_detail.html" %}
{% load humanize %}
{% block title %}Vehículo{% endblock %}
{% block page-title %}Vehículo{% endblock %}
{% block thead %}
    <th colspan="2" class="izquierda"><i
            class="material-icons text-lime">airport_shuttle</i>{{ vehiculo.tipo_nombre }} {{ vehiculo.nombre }}{% if request.user.is_superuser %}
        <div class="ui-nodisc-icon mininav3r">
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-edit ui-btn-icon-notext ui-btncito"
               title="Editar Vehículo {{ vehiculo.nombre }}" href="{{ vehiculo.get_update_url }}">edit</a>
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-plus ui-btn-icon-notext ui-btncito"
               title="Agregar Nuevo Vehículo"
               href="{% url "transporte_vehiculo_create" %}">add</a>
            <a class="ui-btn ui-btn-inline ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btncito"
               title="Borrar Vehículo {{ vehiculo.nombre }}" href="{{ vehiculo.get_delete_url }}">delete</a></div>
    {% endif %}</th>
{% endblock %}
{% block tbody %}
    <tr>
        <td class="derecha">Placa</td>
        <td><strong>{{ vehiculo.placa|upper }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Adquirido</td>
        <td><strong>{{ vehiculo.fecha_aquirido|date:"D d/b" }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Chofer Fijo?</td>
        <td><strong>{{ vehiculo.chofer_fijo|yesno }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Creado</td>
        <td><strong>{{ vehiculo.creado|date:"D d/b" }}</strong></td>
    </tr>
    <tr>
        <td class="derecha">Actualizado</td>
        <td><strong>{{ vehiculo.actualizado|date:"D d/b" }}</strong></td>
    </tr>
{% endblock %}
{% block footer %}{% if request.user.is_superuser %}
        <div class="fixed-action-btn">
            <a class="btn-floating btn-large waves-effect waves-light red darken-2"
               href="{{ vehiculo.get_update_url }}">
                <i class="material-icons">edit</i></a>
        </div>{% endif %}{% endblock %}
