{% extends "base.html" %}{% block content %}
    <style>
        body > div.site-container.ui-page.ui-page-theme-a.ui-page-active > div.ui-content > div > a {
            display: none !important;
        }
    </style>
    <div class="form-group topcontainer">
        <form class="form">
            <table id="table-detail"
                   class="ui-table ui-shadow table-stripe table-stroke ui-responsive">
                <thead>{% block thead %}{% endblock %}</thead>
                <tbody>{% block tbody %}{% endblock %}</tbody>
            </table>
        </form>
    </div>
    {% block detalle %}{% endblock %}
    <br/><br/>
{% endblock %}
{% block footer %}{% endblock %}
