{% extends "base.html" %}
{% load bootstrap3 %}
{% block extlibs %}{% endblock %}{% block content %}
    <div class="topcontainer" style="padding: 10px;">
        <form id="laforma" method="post" class="form form-horizontal">
            {% csrf_token %}
            {% block extrafields %}{% endblock %}
            {% bootstrap_form form %}
            <button id="submit" class="ui-btn ui-btn-b ui-btn-icon-left ui-btn-inline ui-corner-all"
                    data-ajax="false"
                    type="submit">Guardar {% block page-title %}Titulo{% endblock %}</button>
        </form>
    </div>{% endblock %}{% block footer %}
{% endblock %}{% block scripts %}{% endblock %}
{#{% block scripts2 %}#}
{#    <script>#}
{#    $(document).ready(function() {#}
{#        $("#submit").click(function () {#}
{#            $("#laforma").submit();#}
{#        });#}
{#    });#}
{#    </script>{% endblock %}#}