{% load staticfiles %}<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}title{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="author" content="Adalberto H. Vega">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel='stylesheet' href="{% static "flat-ui/jquery.mobile.flatui.css" %}"/>
        <link rel='stylesheet' href="{% static "themes/jquery.mobile.icons.min.css" %}"/>
        <link rel='stylesheet' href="{% static "css/jquery.mobile.structure-1.4.5.min.css" %}"/>
        <link rel='stylesheet' href="{% static "css/layout.css" %}">
        <link rel="apple-touch-icon" sizes="57x57" href="{% static "images/apple-icon-57x57.png" %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static "images/apple-icon-60x60.png" %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "images/apple-icon-72x72.png" %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "images/apple-icon-76x76.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "images/apple-icon-114x114.png" %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "images/apple-icon-120x120.png" %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "images/apple-icon-144x144.png" %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static "images/apple-icon-152x152.png" %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "images/apple-icon-180x180.png" %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static "images/android-icon-192x192.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "images/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static "images/favicon-96x96.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "images/favicon-16x16.png" %}">
        <link rel="manifest" href="{% static "images/manifest.json" %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static "images/ms-icon-144x144.png" %}">
        <meta name="theme-color" content="#ffffff">{% block extcss %}{% endblock %}
    </head>
    <body>
        <div data-role="page" class="ui-responsive-panel" id="{% block page-id %}Home{% endblock %}"><!-- page -->
            <div class="ui-header ui-bar-b" role="banner" data-role="header"
                 data-position="fixed" data-theme="b" data-tap-toggle="false"><!-- header -->
                <h1>{% block page-title %}title{% endblock %}</h1>
                <a href="#nav-panel" class="ui-nodisc-icon" data-icon="bars"
                   data-iconpos="notext" style="top: 9px; left: 6px;">Menu</a>{% if request.user.is_authenticated %}
                <a class="ui-btn ui-link ui-icon-lock ui-btn-icon-left ui-shadow ui-corner-all ui-nodisc-icon"
                   href="{% url 'salir' %}">Salir</a>{% else %}
                <a class="ui-btn ui-link ui-icon-user ui-btn-icon-left ui-shadow ui-corner-all"
                   href="{% url 'iniciar' %}">Ingresar</a>{% endif %}
            </div><!-- /header -->
            <div data-role="content"><!-- content -->{% block content %}{% endblock %}
            </div><!-- /content -->
            <div data-role="panel" data-display="overlay" data-theme="b" id="nav-panel" style="width: 200px"><!-- panel -->
                <ul data-role="listview" class="ui-nodisc-icon">
                    <li data-icon="delete"><a href="#" data-rel="close">Cerrar menu</a></li>
                    <li data-icon="home"><a href="/">Home</a></li>
                    <li data-icon="gear"><a href="{% url 'transporte_parametro_list' %}" data-ajax="false" onclick="window.location.reload(false);">Parámetros</a></li>
                    <li data-icon="check"><a href="{% url 'transporte_tipodevehiculo_list' %}" data-ajax="false" onclick="window.location.reload(false);">Tipos de Vehículo</a></li>
                    <li data-icon="calendar"><a href="{% url 'transporte_vehiculo_list' %}" data-ajax="false" onclick="window.location.reload(false);">Vehículos</a></li>
                    <li data-icon="bullets"><a href="{% url 'transporte_niveldeprecio_list' %}" data-ajax="false" onclick="window.location.reload(false);">Niveles de Precio</a></li>
                    <li data-icon="bars"><a href="{% url 'transporte_item_list' %}" data-ajax="false" onclick="window.location.reload(false);">Items</a></li>
                    <li data-icon="comment"><a href="{% url 'transporte_cliente_list' %}" data-ajax="false" onclick="window.location.reload(false);">Clientes</a></li>
                    <li data-icon="grid"><a href="{% url 'transporte_itinerario_list' %}" data-ajax="false" onclick="window.location.reload(false);">Itinerarios</a></li>
                    <li data-icon="tag"><a href="{% url 'transporte_cotizacion_list' %}" data-ajax="false" onclick="window.location.reload(false);">Cotizaciones</a></li>
                    <li data-icon="navigation"><a href="{% url 'transporte_tramo_list' %}" data-ajax="false" onclick="window.location.reload(false);">Tramos</a></li>
                    <li data-icon="location"><a href="{% url 'transporte_lugar_list' %}" data-ajax="false" onclick="window.location.reload(false);">Lugares</a></li>
                    <li data-icon="user"><a href="{% url 'transporte_conductor_list' %}" data-ajax="false" onclick="window.location.reload(false);">Conductores</a></li>
                </ul>
            </div><!-- /panel -->
            <div style="padding-left: 4px !important;" data-role="footer" data-position="fixed" data-theme="a"><!-- footer -->{% block footer %}
                    <small style="float: right;color:#222;padding-right: 8px;font-weight:300;">&copy; Copyright 2016
                        IntelDEVIGN
                    </small>{% endblock %}
            </div><!-- /footer -->
        </div><!-- /page -->
        <script src="{% static "rest_framework/js/jquery-1.12.4.min.js" %}"></script>
        <script src="{% static "js/jquery.mobile-1.4.5.min.js" %}"></script>{% block extlibs %}{% endblock %}{% block scripts %}{% endblock %}{% block scripts2 %}{% endblock %}
    </body>
</html>
